<div class="portfolio">
	<div class="row">
		<div class="column span_4">
			<img src="/assets/img/screeny.jpg" class="img-circle img-center img-avatar">
		</div>

		<div class="column span_12 free-text">
			<h2>Hey, Ich bin Sebastian <span class="muted">aka Screeny</span></h2>
			<p>Und Du bist gerade am durchstöbern meines Portfolios.
			Theoretisch findest Du hier all das, was sich so mit der Zeit ansammelt.
			Da Ich nicht unbedingt ein <i>herausragender Designer</i> oder so was in die
			Richtung bin ist das alles hier fast nur Gerümpel.</p>

			<p>Das mag evtl. auch daran liegen, dass mir das Programmieren
			<span class="muted">etwas mehr</span> liegt. Solltest Du jedoch etwas tolles finden
			kannst Du dich ja einfach mal <a href="#contact">Melden</a>.</p>
			
		</div>
	</div>

	<ul class="badge-list text-center" id="contact">
		
		<li><a href="#">
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base"></i>
				<i class="icon-github icon-light"></i>
			</span>
		</a></li>

		<li><a href="#">
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base"></i>
				<i class="icon-linkedin icon-light"></i>
			</span>
		</a></li>

		<li><a href="#">
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base"></i>
				<i class="icon-stackexchange icon-light"></i>
			</span>
		</a></li>

		<li><a href="#">
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base"></i>
				<i class="icon-twitter icon-light"></i>
			</span>
		</a></li>

		<li><a href="mailto:screeny05@gmail.com">
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base"></i>
				<i class="icon-envelope icon-light"></i>
			</span>
		</a></li>

	</ul>

	<div class="clearfix"></div>

</div>

	<div class="row">
		<div class="column span_5 portfolio-work">
			<i class="icon-desktop"></i>
			<h2>Desktop Development</h2>
			<div class="work-content">
				<p>Anwendungen, frei nach der Unix-Philosophie:</p>
				<blockquote class="smallquote">Mache eine Sache und mache sie gut.</blockquote>
				<p>So entstehen maßgeschneiderte Programme, die das tun was sie sollen. Nicht mehr und nicht weniger.</p>
				<p>Unter dem Tag <a href="/tag/desktapp">#Desktapp</a> sind meine letzten Desktopanwendungen zu finden.</p>
			</div>
		</div>

		<div class="column span_5 offset_2_2 portfolio-work">
			<i class="icon-code-fork"></i>
			<h2>Web Development</h2>
			<div class="work-content">
				<p>Ich habe diverse Projekte mit PHP &ndash; aber auch bereits mit NodeJS &ndash; erfolgreich durchgeführt. <span class="muted">Unter anderem auch diesen Blog.</span></p>
				<p>Für nahezu jedes Projekt steht der Sourcecode öffentlich auf <a href="https://github.com/screeny05">GitHub</a> zur verfügung.</p>
				<p>Zu meinen Referenzen zählen unter anderem Dashboards, Realtime-Communication und Groupware.</p>
			</div>
		</div>

		<div class="column span_5 offset_2_2 portfolio-work">
			<i class="icon-compass"></i>
			<h2>Web Design</h2>
			<div class="work-content">
				<p>Unter dem Tag <a href="/tag/showcase">#Showcase</a> findest Du stets meine letzten <i>Werke</i>.</p>
				<p>Alle Designs werden Pixelgenau und mit größter Mühe handgemacht. <span class="muted"><i class="icon-heart"></i></span></p>
			</div>
		</div>
	</div>